header{
    position: fixed;
    z-index:999;
    width: 100%;
    background-color: white;
    .navbar-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            display: flex;
            gap:20px;

            a{
                text-decoration: none;
            }
        }
    }
}